.contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 340px;

  &__avatar {
    margin-right: 16px;
  }

  &__info {
    &__item {
      margin-bottom: 4px;
    }
  }
}