<div *ngIf="!isLoading" class="card fixed-centered contact-detail">
  <div class="contact-detail__grid">
    <div class="contact-detail__avatar">
      <ngx-avatar [name]="contact.name"></ngx-avatar>
    </div>  
    <div class="contact-detail__title">{{ contact.name }}</div>
  </div>
  <hr width="100%"/>
  <div class="contact-detail__grid">
    <div>Email</div>
    <div>{{ contact.email }}</div>
    <div>Tel</div>
    <div>{{ contact.tel }}</div>
    <div>Age</div>
    <div>{{ contact.age }}</div>
    <div>Introduction</div>
    <div class="contact-detail__introduction">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
      ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
       in culpa qui officia deserunt mollit anim id est laborum."
    </div>
  </div>
</div>
