<div class="about-me">
  <img class="about-me__portrait" src="../../../assets/images/joey_portrait.jpeg" alt="Joey Portrait" />
  <div class="about-me__content">
    <div class="about-me__content__title">
      About
    </div>
    <div class="about-me__content__brief">
      This is my favorite character Joey Tribbiani from the most popular TV series Friends!
    </div>
    <div class="about-me__content__paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
      ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
       in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <div class="about-me__content__paragraph">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
      ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
       in culpa qui officia deserunt mollit anim id est laborum."
    </div>
  </div>
</div>

