.btn {
  padding: 4px 12px;
  border-radius: 4px;
  border: none;
  font-size: 0.875rem;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  user-select: none;
  cursor: pointer;

  &__text {
    font-family: "Montserrat";
  }
}

.contained {
  color: white;
  box-shadow: 0 0 0 0 rgba(0,0,0,.2),0 0 0 0 rgba(0,0,0,.14),0 0 0 0 rgba(0,0,0,.12);
}

.btn[disabled] {
  background-color: var(--disabled);
  box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0 0 0 0 rgb(0 0 0 / 14%), 0 0 0 0 rgb(0 0 0 / 12%);
  color: var(--gray-text);

  &:hover {
    cursor: not-allowed;
  }
}

.primary {
  background-color: var(--primary);
}

.secondary {
  background-color: var(--secondary);
}

.full-width {
  width: 100%;
}

.basic {
  background-color: white;
}